@import "tailwindcss" important;

@plugin 'tailwindcss-animate';

:root {
  --bs-background: oklch(1 0 0);
  --bs-foreground: oklch(0.145 0 0);
  --bs-card: oklch(1 0 0);
  --bs-card-foreground: oklch(0.145 0 0);
  --bs-popover: oklch(1 0 0);
  --bs-popover-foreground: oklch(0.145 0 0);
  --bs-primary: oklch(0.205 0 0);
  --bs-primary-foreground: oklch(0.985 0 0);
  --bs-secondary: oklch(0.97 0 0);
  --bs-secondary-foreground: oklch(0.205 0 0);
  --bs-muted: oklch(0.97 0 0);
  --bs-muted-foreground: oklch(0.556 0 0);
  --bs-accent: oklch(0.97 0 0);
  --bs-accent-foreground: oklch(0.205 0 0);
  --bs-destructive: oklch(0.577 0.245 27.325);
  --bs-destructive-foreground: oklch(0.577 0.245 27.325);
  --bs-border: oklch(0.922 0 0);
  --bs-input: oklch(0.922 0 0);
  --bs-ring: oklch(0.708 0 0);
  --bs-chart-1: oklch(0.646 0.222 41.116);
  --bs-chart-2: oklch(0.6 0.118 184.704);
  --bs-chart-3: oklch(0.398 0.07 227.392);
  --bs-chart-4: oklch(0.828 0.189 84.429);
  --bs-chart-5: oklch(0.769 0.188 70.08);
  --bs-radius: 0.625rem;
  --bs-sidebar: oklch(0.985 0 0);
  --bs-sidebar-foreground: oklch(0.145 0 0);
  --bs-sidebar-primary: oklch(0.205 0 0);
  --bs-sidebar-primary-foreground: oklch(0.985 0 0);
  --bs-sidebar-accent: oklch(0.97 0 0);
  --bs-sidebar-accent-foreground: oklch(0.205 0 0);
  --bs-sidebar-border: oklch(0.922 0 0);
  --bs-sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--bs-background);
  --color-foreground: var(--bs-foreground);
  --color-card: var(--bs-card);
  --color-card-foreground: var(--bs-card-foreground);
  --color-popover: var(--bs-popover);
  --color-popover-foreground: var(--bs-popover-foreground);
  --color-primary: var(--bs-primary);
  --color-primary-foreground: var(--bs-primary-foreground);
  --color-secondary: var(--bs-secondary);
  --color-secondary-foreground: var(--bs-secondary-foreground);
  --color-muted: var(--bs-muted);
  --color-muted-foreground: var(--bs-muted-foreground);
  --color-accent: var(--bs-accent);
  --color-accent-foreground: var(--bs-accent-foreground);
  --color-destructive: var(--bs-destructive);
  --color-destructive-foreground: var(--bs-destructive-foreground);
  --color-border: var(--bs-border);
  --color-input: var(--bs-input);
  --color-ring: var(--bs-ring);
  --color-chart-1: var(--bs-chart-1);
  --color-chart-2: var(--bs-chart-2);
  --color-chart-3: var(--bs-chart-3);
  --color-chart-4: var(--bs-chart-4);
  --color-chart-5: var(--bs-chart-5);
  --radius-sm: calc(var(--bs-radius) - 4px);
  --radius-md: calc(var(--bs-radius) - 2px);
  --radius-lg: var(--bs-radius);
  --radius-xl: calc(var(--bs-radius) + 4px);
  --color-sidebar: var(--bs-sidebar);
  --color-sidebar-foreground: var(--bs-sidebar-foreground);
  --color-sidebar-primary: var(--bs-sidebar-primary);
  --color-sidebar-primary-foreground: var(--bs-sidebar-primary-foreground);
  --color-sidebar-accent: var(--bs-sidebar-accent);
  --color-sidebar-accent-foreground: var(--bs-sidebar-accent-foreground);
  --color-sidebar-border: var(--bs-sidebar-border);
  --color-sidebar-ring: var(--bs-sidebar-ring);
  --font-sans: var(--bs-font-sans), Helvetica, Arial, apple-system, sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  .checkout-embed {
    @apply bg-background font-sans text-foreground;
  }

  h2 {
    @apply text-2xl font-bold tracking-tight;
  }

  p {
    @apply tracking-tight!;
  }
}

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
